doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Add Employee
    link(rel="stylesheet", href="/form.css")

  body
    div.header
      if employee
       h1 Edit Employee
      else 
       h1 Onboard Employee
      a(href="/back") Back

    div.formcontainer
      form(action=employee ? "/update/" + employee.empid : "/add", method="POST")
        label Employee Name
        br
        input(type="text", name="empname", value=employee ? employee.empname : "")
        br
        label Employee Phone
        br
        input(type="text", name="empphone", value=employee ? employee.empphone : "")
        br
        label Employee Email
        br
        input(type="email", name="empemail", value=employee ? employee.empemail : "")
        br
        label Employee DOB
        br
        input(
         type="date"
         name="empdateofbirth"
         value= employee && employee.empdateofbirth ? new Date(employee.empdateofbirth).toISOString().split('T')[0] : ""
         )
        br
        label Employee Gender
        br
        input(
          type="radio",
          name="empgender",
          value="Male",
          checked=employee && employee.empgender === "Male"
        )
        br
        label Male
        br
        input(
          type="radio",
          name="empgender",
          value="Female",
          checked=employee && employee.empgender === "Female"
        )
        br
        label Female
        br
        label Status
        br
        if employee
         select(name="status")
            option(value="Inactive", selected=employee.status === "Inactive") Inactive
            option(value="Active", selected=employee.status === "Active") Active
        else
         input(type="hidden", name="status", value="Inactive")
        br
        button(type="submit")= employee ? "Update" : "Add"
    script.
      if expired 
        alert("Session Expired. Please Log in again")

    