doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Employee List
    link(rel="stylesheet", href="/list.css")


  body

    .header
      h1 Employee List
      button#addBtn Add Employee
    
    table.emplist
      tr
        th Name
        th Email
        th Phone
        th Gender
        th Date of Birth
        th Status
        th Actions

      each emp in employeedata
        tr
          td= emp.empname
          td= emp.empemail
          td= emp.empphone
          td= emp.empgender
          td= new Date(emp.empdateofbirth).toISOString().split('T')[0]
          td= emp.status

          td
            a(href="/assertdetail/" + emp.empid)
              button.assertbutton Asserts
            button.edit(
              data-id=emp.empid
              data-name=emp.empname
              data-email=emp.empemail
              data-phone=emp.empphone
              data-gender=emp.empgender
              data-dob=new Date(emp.empdateofbirth).toISOString().split('T')[0]
              data-status=emp.status
              data-asserts=emp.assertslist
            ) Edit

            a(href="/delete/" + emp.empid)
              button.delete Delete
            
    
    #employeeModal.modal
      .modal-content

        span.close#closeBtn ×

        h2#modalTitle Add Employee

        form#employeeForm(method="POST")

          label Employee Name
          input(type="text" name="empname" id="empname" required)
          br
          label Employee Phone
          input(type="text" name="empphone" id="empphone" required)
          br
          label Employee Email
          input(type="email" name="empemail" id="empemail" required)
          br
          label Employee DOB
          input(type="date" name="empdateofbirth" id="empdateofbirth")
          br
          label Gender
          br
          input(type="radio" name="empgender" value="Male" id="male")
          label(for="male") Male
          br
          input(type="radio" name="empgender" value="Female" id="female")
          label(for="female") Female
          br

          label Choose Asserts
          br
          .checkbox-group
            input(type="checkbox" name="asserts[]" value="laptop" id="laptop")
            label(for="laptop") Laptop
            br
            input(type="checkbox" name="asserts[]" value="charger" id="charger")
            label(for="charger") Charger
            br
            input(type="checkbox" name="asserts[]" value="mousepad" id="mousepad")
            label(for="mousepad") Mousepad
            br
            input(type="checkbox" name="asserts[]" value="mobile" id="mobile")
            label(for="mobile") Mobile
          br

          label Status
          select(name="status" id="status")
            option(value="Active") Active
            option(value="Inactive") Inactive
          br
          label Currentlocation lat
          br
          input(type="text" name="currentlat")
          br
          label Currentlocation lng
          br
          input(type="text" name="currentlng")
          br
          button(type="submit") Save

    script.

      const modal = document.getElementById("employeeModal");
      const addBtn = document.getElementById("addBtn");
      const closeBtn = document.getElementById("closeBtn");
      const form = document.getElementById("employeeForm");

      addBtn.onclick = function(){

        document.getElementById("modalTitle").innerText = "Add Employee";

        form.reset();

        form.action="/add";

        modal.style.display="flex";

      };

      closeBtn.onclick=function(){

        modal.style.display="none";

      };

      window.onclick=function(e){

        if(e.target===modal){

          modal.style.display="none";

        }

      };

      document.querySelectorAll(".edit").forEach(function(btn){

        btn.onclick=function(){

          document.getElementById("modalTitle").innerText="Edit Employee";

          document.getElementById("empname").value=this.dataset.name;

          document.getElementById("empphone").value=this.dataset.phone;

          document.getElementById("empemail").value=this.dataset.email;

          document.getElementById("empdateofbirth").value=this.dataset.dob;

          if(this.dataset.gender==="Male"){
            document.getElementById("male").checked=true;
          }else{
            document.getElementById("female").checked=true;
          }

          document.getElementById("status").value=this.dataset.status;

          document.querySelectorAll('input[name="asserts[]"]').forEach(function(cb){
            cb.checked=false;
          });

          if(this.dataset.asserts){
            const selected = this.dataset.asserts.split(",");
            selected.forEach(function(val){
              const cb = document.getElementById(val.trim());
              if(cb){
                cb.checked=true;
              }
            });
          }

          form.action="/update/"+this.dataset.id;

          modal.style.display="flex";

        };

      });